body {
	font-family: Roboto;
  -webkit-font-smoothing: antialiased;
	font-size: 10px;
	margin: 0;
	overflow-y:hidden!important;
	overflow-x:hidden!important;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 20px 20px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-primary {
    color: #000;
    background-color: #ffed00;
    border-color: #ffed00;
		border-radius: 0;
		margin-top: 15%;
}
.btn-primary:hover {
    color: #fff;
    background-color: #a9a9a9;
    border-color: #a9a9a9;
}
.btn-primary:active,
.btn-primary.active{
	background-color: grey;
}
#btn1{
	position: absolute;
	display: inline-block;
	font-size: 17.9px;
	bottom: 0;
	border-radius: 0;
	border-color: rgba(0, 0, 0, 0);
	color: white;
	background-color: grey;
}
#btn2{
	position: absolute;
	font-size: 17.9px;
	bottom: 0;
	right: 0;
	border-radius: 0;
	border-color: rgba(0, 0, 0, 0);
	color: #ffc800;
}

#logo {
    width: 60%;
    position: absolute;
    z-index: 2;
    margin-left: 20%;
    margin-top: 8.5%;
}

#campo1{
	margin-top: 35%;
}

.form-control {

    display: block;
    width: 80%;
    margin-left: 10%;
    height: 45px;
    padding: 6px 40px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
		border-left: none;
		border-right: none;
		border-top: none;
}

.form-control:focus{
	border-color: none;
}

#img2{
	filter: blur(2px);
}

#triangulo {
    z-index: 1;
    margin-top: -21.5%;
    margin-right: 0px;
    position: relative;
}

#contrasena {
    margin-left: 50px;
    margin-top: -6%;
}

#contrasena {
    margin-left: 50px;
    margin-top: -6%;
}

.glyphicon {
    position: relative;
    top: -26px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
}

form {
    display: block;
    margin-top: -7%;
}

.sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: grey;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
}

.sidenav a {
   padding: 28px 8px 8px 32px;
   text-decoration: none;
   font-size: 15px;
   color: black;
   display: block;
   transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
   color: #f1f1f1;
   background-color: #2E2E2E;
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

#cerrar{
 cursor: pointer;
}

button.accordion {
		color: black;
    background-color: grey;
    color: #2E2E2E;
    cursor: pointer;
    padding: 28px 8px 8px 32px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #2E2E2E;
}

div.panel {
    padding: 0 0px;
    background-color: grey;
    display: none
}
